.flex-container {
  position: relative;
  .flex-control-nav {
    position: absolute;
    bottom: 30px;
    left: 50%;
  }
}

.slides {
  li {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 300px !important;
    &::after {
      background: url('img/SVG/home-hero-bg') !important;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    .flex-caption {
      flex-basis: 40%;
      position: absolute;
      top: 10px;
      left: 10%;
      text-transform: uppercase;
      p {
        font-family: Brandon Grotesque;
        font-weight: bold;
        text-align: center;
        font-size: 30px;
        color: #FFF;
        margin-bottom: 0;
      }
      button {
        font-family: Brandon Grotesque;
        font-weight: bold;
        font-size: 14px;
        margin: 50px auto auto auto;
        background-color: #DEEAD6;
        color: #336497;
        border: none;
        padding: 10px 25px;
        &::after {
          font-family: ElegantIcons;
          content: '\45';
          display: inline-block;
        }
      }
    }
    .flex-image {
      width: 500px;
      height: 500px;
      overflow: hidden;
      display: none;
      flex-basis: 50%;
      padding: 5px;
      position: absolute;
      top: 20px;
      right: 10%;
      border: 3px solid #929497;
      border-radius: 50%;
    }
  }
}