.flex-container {
  position: relative;
  .flex-control-nav {
    position: absolute;
    bottom: 30px;
    left: 50%;
  }
}

.slides {
  li {
    position: relative;
    display: flex;
    justify-content: space-between;
    .flex-caption {
      flex-basis: 40%;
      width: 40%;
      position: absolute;
      top: 10px;
      left: 10%;
      text-transform: uppercase;
      color: #FFF;
      p {
        font-size: 60px;
        margin-bottom: 0;
      }
      button {
        font-family: Brandon Grotesque;
        font-weight: bold;
        font-size: 14px;
        margin-top: 50px;
        background-color: #DEEAD6;
        color: #336497;
        border: none;
        padding: 10px 25px;
        &::after {
          font-family: ElegantIcons;
          content: '\45';
          display: inline-block;
        }
      }
    }
    .flex-image {
      flex-basis: 50%;
      padding: 5px;
      position: absolute;
      top: 20px;
      right: 10%;
      border: 3px solid #929497;
      border-radius: 50%;
    }
  }
}