.footer-top {
  .featured {
    width: 100%;
    text-align: center;
    display: block;
    margin-bottom: 20px;
    font-family: Brandon Grotesque;
    font-weight: bold;
    font-size: 16px;
    span {
      font-size: 70px;
      background-color: #DEEAD6;
      color: #336497;
      border-radius: 50%;
      padding: 10px;
      display: block;
      width: 80px;
      height: 80px;
      margin: 20px auto;
      &::before {
        margin-bottom: 30px;
      }
    }
    a {
      text-transform: uppercase;
      color: #929497;
      cursor: pointer;
      &:hover {
        color: #336497;
      }
    }
  }
}