.heroo {
  position: relative;
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    .flex-caption {
      h1 {
        &::after {
          display: block;
          margin: 10px auto;
          content: '';
          width: 100px;
          border-bottom: 5px solid #C2D8B4;
        }
      }
    }
    .caption,
    .flex-caption {
      h1 {
        color: $color-white;
        font-size: 55px;
        line-height: 65px;
      }
      h4 {
        text-transform: none;
        color: $color-white;
        font-weight: normal;
        font-family: Merriweather;
        line-height: 25px;
      }
      h5 {
        color: $color-white;
        margin: 20px 0;
        .author,
        .date,
        .tag {
          color: #7FADD3;
          text-transform: uppercase;
          font-family: font116557;
          font-size: 14px;
        }
      }

      a {
        font-family: font116557;
        font-size: 14px;
        margin: 50px auto auto auto;
        overflow: hidden;
        background-color: #DEEAD6;
        color: #336497;
        border: none;
        padding: 10px 25px;
        display: inline-block;
        &:after {
          font-family: ElegantIcons;
          content: '\45';
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
    .image,
    .flex-image {
      display: block;
      margin: auto;
    }
  }
  .overlay {
    &::before {
      display: block;
      content: '';
      background-color: rgba(0, 0, 0, 0.6);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }
}