.main-content {
  h1,
  a {
    text-transform: uppercase;
    text-decoration: none;
  }
  .link {
    display: block;
    font-family: font116557;
    margin-top: 0;
    a {
      font-size: 28px;
      color: #346397;
    }
  }
  p {
    font-family: Merriweather;
    line-height: 25px;
    font-size: 16px;
    color: #333333;
  }
  .learn {
    font-family: font116557;
    font-size: 14px;
    color: #7FADD3;
    &::after {
      font-family: ElegantIcons;
      content: '\45';
    }
  }
  .main-content-left,
  .main-content-right {
    width: 100%;
    .image-left,
    .image-right {
      width: 180px;
      height: 220px;
      overflow: hidden;
      img {
        width: auto;
        height: 220px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}