

.menu-menu-1-container {
  display: inline-block;
}

.menu-item-has-children {
  ul {
    a {
      &:hover:before {
        position: absolute;
        bottom: 18px;
        left: -10px;
        font-family: ElegantIcons;
        content:'\45';
        display: inline-block;
        color: #346397;
      }
    }
  }
}
.site-header {
  .site-branding {
    img {
      width: 200px;
      height: 50px;
      display: block;
      margin: auto;
    }
  }
  .main-navigation {
    .menu-toggle {
      margin: auto;
      border-radius: 4px;
      background-color: #3498db;
      color: #FFFFFF;
      font-size: 18px;
      padding: 15px;
    }
    #menu-main-nav-top {
      padding-bottom: 10px;
    }
    .menu {
      display: none;
      list-style-type: none;
      text-transform: uppercase;
      padding: 0 20px;
      text-align: center;
      .client-login {
        a {
          font-size: 14px;
        }
        &::before {
          content:'\45';
          font-family: ElegantIcons;
          color: #929497;
          display: inline-block;
        }
      }
      a {
        font-family: Brandon Grotesque;
        font-weight: bold;
        font-size: 16px;
        color: #929497;
        padding: 15px 10px;
        position: relative;
        &:hover {
          color: #336497;
        }

      }
      li {
        list-style-type: none;
        margin: 0;
        padding: 0;
        ul {
          display: none;
        }
      }
    }
  }
  .open {
    .menu {
      display: block;
      text-align: center;
      li {
        ul {
          display: none;
        }
      }
    }
  }
}

//Search button

