.resource-content {
  .hero {
    img {
      width: 100%;
    }
  }
  .top {
    padding: 10px;
    .content {
      h1 {
        font-family: Brandon Grotesque;
        font-weight: bold;
        font-size: 48px;
        text-transform: uppercase;
        color: #336497;
      }
      .authored-by {
        font-family: Brandon Grotesque;
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
        span {
          color: #7FADD3;
          cursor: pointer;
        }
      }
      .description {
        font-family: Merriweather;
        font-size: 16px;
        color: #666666;
      }
      img {
        width: 100%;
      }
      h3 {
        font-family: Brandon Grotesque;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        color: #999999;
      }
      .pager {
        border-top: 2px solid #999999;
        border-bottom: 2px solid #999999;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        text-transform: uppercase;
        font-family: Brandon Grotesque;
        font-weight: bold;
        font-size: 18px;
        padding: 10px 0;
        .next {
          &::after {
            font-family: ElegantIcons;
            display: inline-block;
            content: '\24';
          }
        }
        .prev {
          &::before {
            font-family: ElegantIcons;
            display: inline-block;
            content: '\23';
          }
        }
        a {
          text-decoration: none;
          color: #999999;
          &:hover {
            color: #336497;
          }
        }
      }
    }
    aside {
      padding-top: 20px;
      max-width: 360px;
      width: 100%;
      margin: auto;
      .about-author {
        .short-info {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .post-date {
            margin: 0;
            text-align: left;
            font-family: Brandon Grotesque;
            font-weight: bold;
            color: #7FADD3;
            font-size: 30px;
            border-right: 2px solid #666666;
            padding-right: 5px;
            span {
              text-transform: uppercase;
              color: #999999;
              font-size: 16px;
              display: block;
            }
          }
          img {
            border-radius: 50%;
            max-width: 50px;
            width: 100%;
            max-height: 50px;
            height: 100%;
          }
        }
        .author-social {
          margin-top: 10px;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          img {
            max-width: 30px;
            width: 100%;
            max-height: 30px;
            height: 100%;
          }
        }
        .author-info {
          margin-top: 20px;
          max-width: 360px;
          width: 100%;
          background-color: #f2f2f2;
          padding: 10px;
          .about {
            font-family: Brandon Grotesque;
            font-weight: bold;
            text-transform: uppercase;
          }
          .name {
            font-family: Brandon Grotesque;
            font-weight: bold;
            text-transform: uppercase;
            color: #346397;
          }
          .desc {
            font-family: Merriweather;
          }
        }
      }
      .categories,
      .archives {
        ul {
          font-family: Brandon Grotesque;
          font-weight: bold;
          font-size: 18px;
          color: #7FADD3;
          text-transform: uppercase;
          list-style-type: none;
          padding: 0;
          li:nth-child(1) {
            margin-top: 30px;
          }
          li {
            position: relative;
            font-family: Brandon Grotesque;
            font-weight: bold;
            font-size: 16px;
            color: #929497;
            cursor: pointer;
            border-bottom: 2px solid #999999;
            padding-bottom: 10px;
            margin-bottom: 10px;
            &:hover {
              color: #336497;
            }
            &:after {
              position: absolute;
              right: 0;
              font-family: ElegantIcons;
              display: inline-block;
              content: "\35";
            }
          }
        }
      }
      .tag-cloud {
        h1 {
          font-family: Brandon Grotesque;
          font-weight: bold;
          font-size: 18px;
          text-transform: uppercase;
          color: #7FADD3;
        }
        ul {
          padding: 0;
          li {
            text-transform: uppercase;
            list-style-type: none;
            border: 2px solid #DDDDDD;
            color: #999999;
            padding: 5px 10px;
            display: inline-block;
            margin: 5px;
            &:hover {
              cursor: pointer;
              border-color: #346397;
            }
          }
        }
      }
    }
  }
  .bottom {
    padding: 10px;
    .title {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      h1,a {
        text-transform: uppercase;
        text-decoration: none;
        margin: 0;
        display: inline-block;
        color: #7FADD3;
      }
      h1 {
        font-family: Brandon Grotesque;
        font-weight: bold;
        font-size: 18px;
      }
      a {
        float: right;
      }
    }
    .trending {
      text-align: center;
      img {
        max-width: 360px;
        width: 100%;
      }
      .images {
        margin-bottom: 20px;
        .image-title {
          font-family: Merriweather;
          font-size: 18px;
        }
        .trending-date {
          margin: 0 auto 20px auto;
          padding-right: 10px;
          text-align: right;
          font-family: Brandon Grotesque;
          font-weight: bold;
          color: #7FADD3;
          font-size: 30px;
          border-right: 2px solid #666666;
          width: 100px;
          span {
            text-transform: uppercase;
            color: #999999;
            font-size: 16px;
            display: block;
          }
        }
        a {
          font-family: Brandon Grotesque;
          font-weight: bold;
          text-decoration: none;
          text-transform: uppercase;
          color: #7FADD3;
          &:after {
            font-family: ElegantIcons;
            display: inline-block;
            content: '\45';
          }
        }
      }
    }
  }
}