@media (max-width: 480px) {
  .slides {
    .flex-image {
      display: none;
    }
  }
}

@media (min-width: 480px) and (max-width: 768px) {

  .main-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .main-content-left,
    .main-content-right {
      flex-basis: 45%;
      p {
        text-align: justify;
      }
    }
  }
  .hero-bottom {
    .hero-bottom-caption {
      width: 50%;
      float: right;
      clear: both;
    }
  }

  .footer-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    .featured {
      flex-basis: 50%;
    }
  }

  .site-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .footer-menu {
      flex-basis: 50%;
      text-align: center;
    }
  }

  // Resource center
  .short-info,
  .author-social {
    width: 70%;
    margin: auto;
  }
  .short-info {
    width: 40%;
  }
  .trending {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .images {
      flex-basis: 33%;
      margin: auto;
    }
  }
  .posts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .center-highlight {
      flex-basis: 33%;
    }
  }

  // Team page
  .team-members {
    div[class*='team'] {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      div[class*='team'] {
        flex-basis: 45%;
      }
    }
  }

  // Resource page
  .posts {
    .images {
      margin: auto;
      display: block;
      text-align: center;
    }
  }


}

@media (max-width: 876px) {
  .site-header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}


@media (min-width: 876px) {

  .site-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    .main-navigation {
      button {
        display: none;
      }
      .menu {
        margin-top: 0;
        display: flex;
        justify-content: flex-end;
        .menu-item-has-children:hover {
          position: relative;
          .menu-item-13,
          .menu-item-17 {
            &::before {
              color: #666666;
              font-family: ElegantIcons;
              content: '\45';
              display: inline-block;
            }
          }
           ul {
             display: block;
             position: absolute;
             top: 20px;
             left: -70px;
             z-index: 9999999999999;
             background-color: #DEEAD6;
             width: 300px;
             li {
               text-align: left;
               padding-bottom: 10px;
             }
          }
        }
      }
    }
  }


}

@media (max-width: 992px) {

  .flexslider {
    .slides {
      li {
        height: 350px !important;
        img {
          width: 200px !important;
          height: 200px !important;
        }
      }
      .flex-caption {
        p {
          font-size: 2em;
        }
      }
    }
  }
  .resource-center-highlights {
    .title {
      width: 80%;
      margin: auto;
    }
    .center-highlight {
      text-align: center;
    }
  }
}
@media (min-width: 768px) and (max-width: 1024px) {


  // Home page

  .main-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .main-content-left,
    .main-content-right {
      flex-basis: 45%;
      display: flex;
      justify-content: space-between;
      .post-info {
        padding-left: 20px;
      }
      img {
        max-width: 180px;
        width: 100%;
        max-height: 220px;
        height: 100%;
      }
    }
  }
  .highlighted-resources {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
    .center-highlight {
      flex-basis: 360px;
    }
  }
  .hero-bottom-caption {
    width: 60%;
    float: right;
    clear: both;
  }

  .footer-top {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .featured {
      flex-basis: 33%;
    }
  }
  .site-footer {
    .footer-menus {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: 1180px;
      width: 100%;
      .footer-menu {
        flex-basis: 23%;
        h1 {
          margin: 0;
          padding: 20px 0 10px 0;
          border-left: 2px solid #FFF;
        }
      }
    }
    .site-info {
      margin-top: 20px;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      p {
        margin-top: 0;
        flex-basis: 50%;
      }
    }
  }

  // Team page

  .team-hero {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .team-hero-left,
    .team-hero-right {
      padding-top: 50px;
      flex-basis: 45%;
    }
    .team-hero-left {
      p {
        &::after {
          top: 290px !important;
        }
      }
    }
    .team-hero-right {
      img {
        width: 300px;
        height: 300px;
      }
    }
  }
  .team-members {
    margin-top: 30px;
    .team-founders {
      .team-member {
        &:nth-child(1){
          flex-basis: 100%;
          padding-left: 10px;
        }
      }
    }
    .team-founders,
    .team-management,
    .team-bussines,
    .team-account {
      margin-top: 20px;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .team-member {
        text-align: left;
        margin-bottom: 10px;
        flex-basis: 48%;
        img {
          float: left;
          max-width: 130px;
          max-height: 130px;
          width: 100%;
          height: 100%;
          display: inline-block;
          vertical-align: middle;
        }
        p {
          padding-left: 10px;
          width: 50%;
          float: left;
        }
      }
    }
  }

  // Single Team Member
  .single-team-member {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .highlighted {
      flex-basis: 100%;
    }
    .member-photo {
      position: absolute;
      right: 10px;
      order: 2;
      flex-basis: 30%;
    }
    .member-info {
      flex-basis: 50%;
    }
  }

  // Resource page
  .resource-content {
    .top {
      display: flex;
      justify-content: space-between;
      .images {
        .short-desc {
          width: 360px;
        }
        .bottom {
          display: flex;
          justify-content: space-between;
        }
      }

      aside {
        margin: 0;
        flex-basis: 50%;
        .categories {
          ul {
            margin-top: 0;
          }
        }
      }
    }
    .bottom {
      .posts {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .center-highlight {
          flex-basis: 33%;
        }
      }
      .trending {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 50px;
        align-items: center;
        .images {
          flex-basis: 33%;
        }
      }
    }
  }

}

@media (min-width: 1024px) {

  // Home page
  .main-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .main-content-left,
    .main-content-right {
      flex-basis: 47%;
      display: flex;
      justify-content: space-between;
      .post-info {
        padding-left: 20px;
        h1 {
          &::after {
            content:'';
            border-bottom: 5px solid #DEEAD6;
            width: 100px;
            display: block;
            margin: 30px 0 10px 0;
          }
        }
      }
      img {
        max-width: 180px;
        width: 100%;
        max-height: 220px;
        height: 100%;
      }
    }
  }
  .highlighted-resources {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
    .center-highlight {
      flex-basis: 360px;
    }
  }
  .hero-bottom {
    .hero-bottom-caption {
      width: 50%;
      float: right;
      clear: both;
      margin-right: 50px;
      h1 {
        font-family: Brandon Grotesque;
        font-size: 32px;
        margin-top: 100px;
      }
      .date {
        font-size: 16px;
        margin-bottom: 50px;
      }
      .caption {
        font-size: 16px;
        margin-bottom: 50px;
      }
    }
  }

  .footer-top {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 70px 0;
    .featured {
      flex-basis: 33%;
    }
  }
  .site-footer {
    .footer-menus {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: 1180px;
      width: 100%;
      .footer-menu {
        flex-basis: 23%;
        h1 {
          margin: 0;
          padding: 50px 0 10px 20px;
          border-left: 2px solid #FFF;
        }
        ul {
          padding-left: 20px;
        }
      }
    }
    .site-info {
      margin-top: 50px;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      p {
        margin-top: 0;
        flex-basis: 50%;
      }
    }
  }

  // Team page

  .team-hero {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .team-hero-left,
    .team-hero-right {
      padding-top: 50px;
      flex-basis: 45%;
    }
    .team-hero-left {
      h1 {
        text-align: left;
        &::after {
          padding-bottom: 20px;
          margin: 0;
        }
      }
      p {
        text-align: left;
        &::after {
          top: 280px !important;
          left: 88px;
        }
      }
    }
    .team-hero-right {
      img {
        width: 300px;
        height: 300px;
      }
    }
  }
  .team-members {
    margin-top: 30px;
    .team-founders {
      .team-member {
        &:nth-child(1){
          flex-basis: 100%;
          padding-left: 10px;
        }
      }
    }
    .team-founders,
    .team-management,
    .team-bussines,
    .team-account {
      margin-top: 30px;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .team-member {
        text-align: left;
        margin-bottom: 50px;
        flex-basis: 48%;
        img {
          float: left;
          max-width: 130px;
          max-height: 130px;
          width: 100%;
          height: 100%;
          display: inline-block;
          vertical-align: middle;
        }
        p {
          padding-left: 10px;
          width: 50%;
          float: left;
        }
      }
    }
    .gray-box {
      display: flex;
      justify-content: space-around;
      h1, p {
        flex-basis: 40%;
      }
    }
  }

  // Single Team Member
  .single-team-member {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .highlighted {
      flex-basis: 100%;
    }
    .member-photo {
      position: absolute;
      right: 10px;
      order: 2;
      flex-basis: 30%;
    }
    .member-info {
      flex-basis: 50%;
    }
  }

  // Resource center
  .resource-content {
    .top {
      margin: auto;
      max-width: 1180px;
      display: grid;
      grid-template-columns: 1fr 360px;
      grid-column-gap: 20px;
      aside {
        margin: 0;
        .about-author {
          .short-info {
            width: 200px;
            .post-date {
              padding-right: 20px;
            }
          }
        }
      }
    }
    .bottom {
      .title {
        margin-bottom: 20px;
      }
      .trending {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .images {
          flex-basis: 33%;
          .description {
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
  }

  // Resource Center repository

  .top {
    .posts {
      .images {
        display: grid;
        grid-template-columns: 360px 1fr;
        grid-column-gap: 50px;
        margin-bottom: 50px;
        .img-l {
          .trending-date {
            width: 348px;
          }
        }
        .img-r {
          text-align: left;
          h1 {
            padding-left: 0;
          }
        }
      }
    }
  }

  .resource-center-highlights {
    .posts {
      display: flex;
      justify-content: space-between;
      .center-highlight {
        flex-basis: 33%;
      }
    }
  }
}